$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$main-color: #428bca;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: 'Droid Serif', 'serif';
    color: #636161;
}

p {
    font-size: 1.5em;
}

h4 {
    font-family: 'Droid Serif', 'serif';
}

.container {
    position: relative;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 5px solid $main-color;
    background: #fff;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 80px;
        font-family: 'Satisfy', 'cursive';
        font-size: 60px;
    }

    img {
        height: 80px;
        margin: 10px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .text-muted {
        color: $main-color;
        display: inline-block;
        vertical-align: bottom;
    }
}

// Styling for Etsy thumbnails
.etsy-item {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;

    img {
        margin: 10px auto;
    }

    a {
        a:hover {
            text-decoration: none;
        }
    }

    &:hover {
        background: rgba(226, 226, 226, 0.31);
        text-decoration: none;
    }
}

// Larger picture view
.item-mainview {
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;

    img {
        width: 100%;
    }

    .description {
        height: 200px;
        overflow-y: scroll;
        margin-bottom: 0px;
        border-top: 1px solid lighten($main-color, 30%);
        border-bottom: 1px solid lighten($main-color, 30%);
    }

    a {
        font-size: 1.2em;
    }

    .links {
        text-align: left;
        span {
            display: inline-block;
            line-height: 38px;
        }
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

// Modal Styling Overrides
.modal-content {
    border-radius: 0px;
}

.modal-header {
    padding: 5px;
    padding-right: 6px;
    border-bottom: none;
}

.modal-body {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.modal-footer {
    margin-top: 0px;
    border-top: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
